:root {
    // --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    // --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    // --line: 1px solid var(--color-grey-light-2);

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);

    --text: rgba(148, 171, 203, 1);
    --text-turquoise: rgba(2, 252, 250, 1);
    --text-turquoise-alpha: rgba(2, 252, 250, 0.5);
}

$bp-smallest: 22em; // 352px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;

    background-color: var(--main-bg);
}